{% extends 'layout.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-12">
        <!-- job box 2 start -->
        <div class="job-box-2">
            <div class="company-logo">
                <img src="http://placehold.it/80x80" alt="avatar">
            </div>
            <div class="description">
                <h5 class="title"><a href="#">Development Marketer</a></h5>
                <div class="candidate-listing-footer">
                    <ul>
                        <li><i class="flaticon-work"></i>UX Designer</li>
                        <li><i class="flaticon-pin"></i> New York City</li>
                        <li><i class="flaticon-time"></i> Full Time</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="hr-boder">
        <!-- job description start -->
        <div class="job-description mb-40">
            <h3 class="heading-2">Job Description</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra a. Aliquam pellentesque nibh et nibh feugiat gravida. Maecenas ultricies, diam vitae semper placerat, velit risus accumsan nisl, eget tempor lacus est vel nunc. Proin accumsan elit sed neque euismod fringilla. Curabitur lobortis nunc velit, et fermentum urna dapibus non. Vivamus magna lorem, elementum id gravida ac, laoreet tristique augue. Maecenas dictum lacus eu nunc porttitor, ut hendrerit arcu efficitur.</p>
        </div>
        <!-- Education + experience start-->
        <div class="education-experience amenities mb-40">
            <h3 class="heading-2">Education + Experience</h3>
            <ul>
                <li>
                    <i class="fa fa-check"></i>M.B.S / M.B.A under National University with CA course complete.
                </li>
                <li><i class="fa fa-check"></i>3 or more years of professional design experience</li>
                <li>
                    <i class="fa fa-check"></i>Excellent communication skills, most notably a demonstrated ability to solicit and address creative and design feedback
                </li>
                <li>
                    <i class="fa fa-check"></i>Masters of library science any Green University.
                </li>
                <li><i class="fa fa-check"></i>BA/BS degree in a technical field or equivalent practical experience.</li>
                <li>
                    <i class="fa fa-check"></i>Ability to work independently and to carry out assignments to completion within parameters of instructions given, prescribed routines, and standard accepted practices
                </li>
            </ul>
        </div>
        <!-- Responsibilities start-->
        <div class="responsibilities amenities mb-40">
            <h3 class="heading-2">Responsibilities</h3>
            <ul>
                <li>
                    <i class="fa fa-check"></i>Explore and design dynamic and compelling consumer experiences.
                </li>
                <li><i class="fa fa-check"></i>Have sound knowledge of commercial activities.</li>
                <li>
                    <i class="fa fa-check"></i>Build next-generation web applications with a focus on the client side.
                </li>
                <li>
                    <i class="fa fa-check"></i>The applicants should have experience in the following areas
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="sidebar-right-2">
            <!-- Search box start -->
            <div class="widget search-box">
                <form method="GET">
                    <div class="form-group fg-2">
                        <button class="search-button sj-btn btn-outline">Save job</button>
                    </div>
                    <div class="form-group mb-0">
                        <button class="search-button button-theme">Apply Now</button>
                    </div>
                </form>
            </div>
            <!-- Job overview start -->
            <div class="job-overview widget">
                <h3 class="sidebar-title">Job Overview</h3>
                <div class="s-border"></div>
                <ul>
                    <li><i class="flaticon-money"></i><h5>Salary</h5><span>£12,000 - £25,000</span></li>
                    <li><i class="flaticon-pin"></i><h5>Location</h5><span>New York City</span></li>
                    <li><i class="flaticon-woman"></i><h5>Gender</h5><span>Any</span></li>
                    <li><i class="flaticon-work"></i><h5>Job Type</h5><span>Full Time</span></li>
                    <li><i class="flaticon-honor"></i><h5>Qualification</h5><span>Mba</span></li>
                    <li><i class="flaticon-notepad"></i><h5>Experience</h5><span>2 to 3 year</span></li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <!-- Quick contact start -->
            <div class="widget-5 contact-2 quick-contact">
                <h3 class="sidebar-title">Quick Contacts</h3>
                <div class="s-border"></div>
                <form action="#" method="GET" enctype="multipart/form-data">
                    <div class="form-group name">
                        <input type="text" name="name" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group email">
                        <input type="email" name="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group message">
                        <textarea class="form-control" name="message" placeholder="Write message"></textarea>
                    </div>
                    <div class="send-btn">
                        <button type="submit" class="btn btn-md button-theme">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}