<div class="sidebar-right">
    <!-- Advanced search start -->
    <div class="widget-4 advanced-search">
        <form method="POST" action="/filtros" class="locations">
            {% csrf_token %}
            <div class="form-group">
                <label>Keywords</label>
                <input type="text" name="search" class="form-control selectpicker search-fields" placeholder="Search Keywords">
            </div>
            <div class="form-group">
                <label>Ubicación</label>
                
                <select class="selectpicker search-fields" onclick="this.form.submit()">
                    {% for ubicacion in ubicaciones %}
                        <option>{{ubicacion.nombre}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Categoria</label>
                <select  class="selectpicker search-fields" name="categoria_id" onchange="this.form.submit()">
                    <option value="0">--SELECCIONE--</option>
                    {% for categoria in categorias %}
                        <option value="{{categoria.id}}">{{categoria.nombre}}</option>
                    {% endfor %}
                </select>
            </div>
            <br>

            <a class="show-more-options" data-toggle="collapse" data-target="#options-content4">
                <i class="fa fa-plus-circle"></i> Job Type
            </a>
            <div id="options-content4" class="collapse">
                <div class="checkbox checkbox-theme checkbox-circle">
                    <input id="checkbox13" type="checkbox">
                    <label for="checkbox13">
                        Full Time
                    </label>
                </div>
                <div class="checkbox checkbox-theme checkbox-circle">
                    <input id="checkbox14" type="checkbox">
                    <label for="checkbox14">
                        Part Time
                    </label>
                </div>
                <br>
            </div>
            <a class="show-more-options" data-toggle="collapse" data-target="#options-content5">
                <i class="fa fa-plus-circle"></i> Date Posted
            </a>
            <div id="options-content5" class="collapse">
                <div class="checkbox checkbox-theme checkbox-circle">
                    <input id="checkbox15" type="checkbox">
                    <label for="checkbox15">
                        Last Hour
                    </label>
                </div>
                <div class="checkbox checkbox-theme checkbox-circle">
                    <input id="checkbox16" type="checkbox">
                    <label for="checkbox16">
                        Last 24 Hours
                    </label>
                </div>
                <div class="checkbox checkbox-theme checkbox-circle">
                    <input id="checkbox17" type="checkbox">
                    <label for="checkbox17">
                        Last 7 Days
                    </label>
                </div>
                <div class="checkbox checkbox-theme checkbox-circle">
                    <input id="checkbox18" type="checkbox">
                    <label for="checkbox18">
                        Last 30 Days
                    </label>
                </div>
                <br>
            </div>

            <a class="show-more-options" data-toggle="collapse" data-target="#options-content6">
                <i class="fa fa-plus-circle"></i> Experience
            </a>
            <div id="options-content6" class="collapse">
                <div class="checkbox checkbox-theme checkbox-circle">
                    <input id="checkbox19" type="checkbox">
                    <label for="checkbox19">
                        1 Year
                    </label>
                </div>
                <div class="checkbox checkbox-theme checkbox-circle">
                    <input id="checkbox20" type="checkbox">
                    <label for="checkbox20">
                        2 Year
                    </label>
                </div>
                <div class="checkbox checkbox-theme checkbox-circle">
                    <input id="checkbox21" type="checkbox">
                    <label for="checkbox21">
                        3 Year
                    </label>
                </div>
                <br>
            </div>

            <a class="show-more-options" data-toggle="collapse" data-target="#options-content">
                <i class="fa fa-plus-circle"></i> Offerd Salary
            </a>
            <div id="options-content" class="collapse">
                <div class="checkbox checkbox-theme checkbox-circle">
                    <input id="checkbox2" type="checkbox">
                    <label for="checkbox2">
                        10k - 20k
                    </label>
                </div>
                <div class="checkbox checkbox-theme checkbox-circle">
                    <input id="checkbox3" type="checkbox">
                    <label for="checkbox3">
                        20k - 30k
                    </label>
                </div>
                <div class="checkbox checkbox-theme checkbox-circle">
                    <input id="checkbox4" type="checkbox">
                    <label for="checkbox4">
                        30k - 40k
                    </label>
                </div>
                <div class="checkbox checkbox-theme checkbox-circle">
                    <input id="checkbox1" type="checkbox">
                    <label for="checkbox1">
                        40k - 50k
                    </label>
                </div>
                <div class="checkbox checkbox-theme checkbox-circle">
                    <input id="checkbox7" type="checkbox">
                    <label for="checkbox7">
                        50k - 60k
                    </label>
                </div>
                <br>
            </div>

            <a class="show-more-options" data-toggle="collapse" data-target="#options-content3">
                <i class="fa fa-plus-circle"></i> Qualification
            </a>
            <div id="options-content3" class="collapse">
                <div class="checkbox checkbox-theme checkbox-circle">
                    <input id="checkbox11" type="checkbox">
                    <label for="checkbox11">
                        Intermidiate
                    </label>
                </div>
                <div class="checkbox checkbox-theme checkbox-circle">
                    <input id="checkbox12" type="checkbox">
                    <label for="checkbox12">
                        Gradute
                    </label>
                </div>
                <br>
            </div>

            <a class="show-more-options" data-toggle="collapse" data-target="#options-content2">
                <i class="fa fa-plus-circle"></i> Gender
            </a>
            <div id="options-content2" class="collapse">
                <div class="checkbox checkbox-theme checkbox-circle">
                    <input id="checkbox8" type="checkbox">
                    <label for="checkbox8">
                        Male
                    </label>
                </div>
                <div class="checkbox checkbox-theme checkbox-circle">
                    <input id="checkbox9" type="checkbox">
                    <label for="checkbox9">
                        Female
                    </label>
                </div>
                <div class="checkbox checkbox-theme checkbox-circle">
                    <input id="checkbox10" type="checkbox">
                    <label for="checkbox10">
                        Others
                    </label>
                </div>

            </div>
        </form>
    </div>
</div>